<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="employeeId">Employee ID</label>
          <input
            type="text"
            class="form-control"
            id="employeeId"
            required
            ngModel
            name="employeeId"
          />
        </div>
        <div class="form-group">
          <label for="firstName">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            required
            ngModel
            name="firstName"
          />
        </div>
        <div class="form-group">
          <label for="firstName">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            required
            ngModel
            name="lastName"
          />
        </div>
        <div class="form-group">
          <label for="firstName">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            ngModel
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="firstName">Department Code</label>
          <input
            type="text"
            class="form-control"
            id="departmentCode"
            ngModel
            name="departmentCode"
          />
        </div>
        <div class="form-group">
          <label for="firstName">Department Name</label>
          <input
            type="text"
            class="form-control"
            id="departmentName"
            ngModel
            name="departmentName"
          />
        </div>
        <br>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Add Employee
        </button>
      </form>
    </div>
    <ng-container *ngIf="addSuccess"; else addFailed>
      <h5>Employee added successfully</h5>
    </ng-container>
    <ng-template #addFailed>
      <h5>oops!! could not add the employee</h5>
    </ng-template>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Employee details
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-3 ">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No employees available!</p>
      <table class="table">
        <thead>
          <th scope="col">
            <span>Employee ID</span>
          </th>
          <th scope="col">
            <span>First Name</span>
          </th>
          <th scope="col">
            <span>Last Name</span>
          </th>
          <th scope="col">
            <span>Email</span>
          </th>
          <th scope="col">
            <span>Department</span>
          </th>
        </thead>
        <tbody>
          <ng-container *ngIf="loadedPosts.length >= 1 && !isFetching">
            <ng-container *ngFor="let post of loadedPosts">
              <tr>
                <td>
                  <span>{{ post.employeeId }}</span>
                </td>
                <td>
                  <span>{{ post.firstName }}</span>
                </td>
                <td>
                  <span>{{ post.lastName }}</span>
                </td>
                <td>
                  <span>{{ post.email }}</span>
                </td>
                <td>
                  <span>{{ post.department.departmentName}}</span>
                </td>
                <button
                  class="btn btn-danger"
                  (click)="onClearPosts(post)"
                >
                  Delete
                </button>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
        <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
      </div>
    </div>
  </div>
</div>
